{% extends 'base.html.twig' %}

{% block title %}
  Educateurs
{% endblock %}



{% block body %}
  <div class="container mt-4">
    <h1 class="display-4">Educateur</h1>
    <hr class="my-4" />

    <a href="{{ path('newEducateur') }}" class="btn btn-primary">
      Créer un éducateur
    </a>

    <hr class="my-4" />

    {% for message in app.flashes('success') %}
      <div class="alert alert-success mt-4">
        {{ message }}
      </div>
    {% endfor %}

    {% if educateur|length > 0 %}
      <div class="count mt-3">
        <h5>Nombre d'éducateurs :{{ educateur.getTotalItemCount }} </h5>
      </div>

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Email</th>
            <th scope="col">Mot de passe</th>
          <th scope="col">Edition</th>
        <th scope="col">Suppression</th>
            
          </tr>
        </thead>
        <tbody>
          {% for educateur in educateur %}
            <tr>
              <th scope="row">{{ educateur.email }}</th>
              <td>{{ educateur.password }}</td>
              <td><a href="{{ path('updateEducateur', {id: educateur.id}) }}" class="btn btn-secondary">Modifier</a></td>
              <td><a href="{{ path('deleteEducateur', {id: educateur.id}) }}" class="btn btn-danger">Supprimer</a></td>

            </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="navigation d-flex justify-content-center">{{ knp_pagination_render(educateur) }}</div>
    {% else %}
      <h5>Il n'y a pas d'éducateur</h5>
    {% endif %}
  </div>
{% endblock %}