{% extends 'base.html.twig' %}

{% block title %}
  Catégories
{% endblock %}



{% block body %}
  <div class="container mt-4">
    <h1 class="display-4">Catégories</h1>
    <hr class="my-4" />

    <a href="{{ path('newCategorie') }}" class="btn btn-primary">
      Créer une catégorie
    </a>

    <hr class="my-4" />

    {% for message in app.flashes('success') %}
      <div class="alert alert-success mt-4">
        {{ message }}
      </div>
    {% endfor %}


    {% if categorie|length > 0 %}
      <div class="count mt-3">
        <h5>Nombre de catégories : {{categorie.getTotalItemCount }} </h5>
      </div>

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Nom catégorie</th>
            <th scope="col">Code raccourcie</th>
          <th scope="col">Edition</th>
        <th scope="col">Suppression</th>
            
          </tr>
        </thead>
        <tbody>
          {% for categorie in categorie %}
            <tr class="table-light">
              <th scope="row">{{ categorie.nomcategorie }}</th>
              <td>{{ categorie.coderaccourcie }}</td>
              <td><a href="{{ path('updateCategorie', {id: categorie.id}) }}" class="btn btn-secondary">Modifier</a></td>
              <td><a href="{{ path('deleteCategorie', {id: categorie.id}) }}" class="btn btn-danger">Supprimer</a></td>

            </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="navigation d-flex justify-content-center">{{ knp_pagination_render(categorie) }}</div>
    {% else %}
      <h5>Il n'y a pas de categorie</h5>
    {% endif %}
  </div>
{% endblock %}