{% extends 'base.html.twig' %}

{% block title %}
  Licencié
{% endblock %}



{% block body %}
  <div class="container mt-4">
    <h1 class="display-4">Licenciés</h1>
    <hr class="my-4" />

    <a href="{{ path('newLicencie') }}" class="btn btn-primary">
      Créer un licencié
    </a>

    <hr class="my-4" />

    {% for message in app.flashes('success') %}
      <div class="alert alert-success mt-4">
        {{ message }}
      </div>
    {% endfor %}

    {% if licencie|length > 0 %}
      <div class="count mt-3">
        <h5>Nombre de licenciés :{{ licencie.getTotalItemCount }}</h5>
      </div>

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Numéro de Licencié
          
          
          </th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Catégorie</th>
          <th scope="col">Edition</th>
        <th scope="col">Suppression</th>
          </tr>
        </thead>
        <tbody>
          {% for licencie in licencie %}
            <tr class="table-light">
              <th scope="row">{{ licencie.numlicence }}</th>
              <td>{{ licencie.nom }}</td>
              <td>{{ licencie.prenom }}</td>
              <td>{{ licencie.categorie is not null ? licencie.categorie.nomCategorie : 'Aucune catégorie' }}</td>
              <td><a href="{{ path('updateLicencie', {id: licencie.id}) }}" class="btn btn-secondary">Modifier</a></td>
              <td><a href="{{ path('deleteLicencie', {id: licencie.id}) }}" class="btn btn-danger">Supprimer</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="navigation d-flex justify-content-center">{{ knp_pagination_render(licencie) }}</div>
    {% else %}
      <h5>Il n'y a pas de licenciés</h5>
    {% endif %}
  </div>
{% endblock %}